In [3]:
import nanohub.remote as nr
import pandas as pd
import json

In [4]:
auth_data = {
  'client_id': '',
  'client_secret': '',
  'grant_type': '',
  'username': '',
  'password': ''
}
# to get client id and secret, create a web application (https://nanohub.org/developer/api/applications/new), use "https://127.0.0.1" as Redirect URL
# to get username and password, register on nanohub.org (https://nanohub.org/register/)

In [5]:
import os
auth_data = {
    'grant_type' : 'tool',
}
with open(os.environ["SESSIONDIR"]+"/resources") as file:
    lines = [line.split(" ", 1) for line in file.readlines()]
    properties = {line[0].strip(): line[1].strip() for line in lines if len(line)==2}
    auth_data["sessiontoken"] = properties["session_token"]
    auth_data["sessionnum"] = properties["sessionid"]

In [6]:
a = nr.Session(auth_data, url='https://nanohub.org/api/')

In [7]:
req_json = a.requestGet('results/dbexplorer')
req_json = req_json.json()
pd.DataFrame([p for p in req_json["tasks"]])

,description,method,name,parameters,return,uri
0,Display a list of entries,GET,tools,"[{'name': 'simtool', 'description': 'simtool',...",void,https://nanohub.org/api/dbexplorer/dbexplorer/...
1,Display a list of entries,GET,tool_detail,"[{'name': 'tool', 'description': 'Tool Name', ...",void,https://nanohub.org/api/dbexplorer/dbexplorer/...
2,Display a list of entries,GET,squid_detail,"[{'name': 'output', 'description': 'xml or jso...",void,https://nanohub.org/api/dbexplorer/dbexplorer/...
3,Display a list of entries,GET,search,"[{'name': 'tool', 'description': 'Tool Name', ...",void,https://nanohub.org/api/dbexplorer/dbexplorer/...
4,Display a list of entries,GET,stats,"[{'name': 'tool', 'description': 'Tool Name', ...",void,https://nanohub.org/api/dbexplorer/dbexplorer/...
5,Displays available options and parameters this...,GET,index,[],void,https://nanohub.org/dbexplorer
6,List entries,GET,list,[],void,https://nanohub.org/{component}/{controller}/list
7,Create an entry,POST,create,[],void,https://nanohub.org/{component}/{controller}
8,Read an entry,GET,read,[],void,https://nanohub.org/{component}/{controller}/{...
9,Update an entry,PUT,update,[],void,https://nanohub.org/{component}/{controller}/{...
10,Delete an entry,DELETE,delete,[],void,https://nanohub.org/{component}/{controller}/{...

In [8]:
req_json = a.requestPost('results/dbexplorer/tools?simtool=true')
req_json = req_json.json()
pd.DataFrame([p for p in req_json["results"]])

  last_version          tool_id  total_versions
0           r9  introtosimtools               1
1          r13        meltrccas               1
2          r34       meltingkim               3
3          r21        mdsandbox               1
4          r39         meltheas               3
5           r9    st4pnjunction               2

In [11]:
tool = "st4pnjunction"
req_json = a.requestPost('results/dbexplorer/tool_detail', data={'tool':tool, 'simtool':True})
req_json = req_json.json()
req_json['results'][0][tool]["input"]
pd.DataFrame(req_json['results'][0][tool]["input"]).transpose()

,default,description,label,max,min,type,units
p_node,60,,p_node,1000,0,integer,NaN
n_node,120,,n_node,1000,0,integer,NaN
i_node,0,,i_node,1000,0,integer,NaN
p_len,3,,p_len,100,0,number,micrometer
n_len,6,,n_len,100,0,number,micrometer
i_len,0,,i_len,100,0,number,micrometer
temperature,300,,temperature,500,77,number,kelvin
materialp,Si,,materialp,NaN,NaN,string,NaN
vsweep_high,0.6,,vsweep_high,5,-5,number,volt
vn_step,20,,vn_step,NaN,2,integer,NaN
taun,1e-10,,taun,NaN,0,number,second
taup,1e-10,,taup,NaN,0,number,second
impurity,False,,impurity,NaN,NaN,boolean,NaN
impuritydoping,Ptype,,impuritydoping,NaN,NaN,string,NaN
impuritylevel,10000000000000,,impuritylevel,1e+26,0,number,1 / centimeter ** 3
Na,2e+15,,Na,2e+22,1,number,1 / centimeter ** 3
Nd,1e+16,,Nd,2e+22,1,number,1 / centimeter ** 3

In [32]:
pd.DataFrame(req_json['results'][0][tool]["output"]).transpose()

                                                     label    type      units
eos                                       Energy vs Volume   curve  [A^3, eV]
fit      Quadratic Fit -9.4235382594e-05*x^2 + 0.052762...   curve  [A^3, eV]
murn                                         Murnaghan Fit   curve  [A^3, eV]
eqVol                 (Murnaghan) Equilibrium Volume (A^3)  number        NaN
bulkMod                     (Murnaghan) Bulk Modulus (GPa)  number        NaN
dos                                      Density of States   curve       [eV]
band1                                               Band 1   curve       [eV]
band2                                               Band 2   curve       [eV]
band3                                               Band 3   curve       [eV]
band4                                               Band 4   curve       [eV]
band5                                               Band 5   curve       [eV]
band6                                               Band 6   curve       [eV]
band7                                               Band 7   curve       [eV]
band8                                               Band 8   curve       [eV]
fermi                                          Fermi level   curve       [eV]
line1             High Symmetry Point 0.5000 0.5000 0.5000   curve       [eV]
line2             High Symmetry Point 0.0000 0.0000 0.0000   curve       [eV]
line3             High Symmetry Point 0.5000 0.0000 0.5000   curve       [eV]
line4             High Symmetry Point 0.0000 0.0000 0.0000   curve       [eV]
band9                                               Band 9   curve       [eV]
band10                                             Band 10   curve       [eV]
band11                                             Band 11   curve       [eV]
line5             High Symmetry Point 0.0000 0.0000 0.0000   curve       [eV]
line6             High Symmetry Point 0.5303 0.5303 0.0000   curve       [eV]
line7             High Symmetry Point 0.3536 0.3536 0.3536   curve       [eV]
band12                                             Band 12   curve       [eV]
band13                                             Band 13   curve       [eV]
band14                                             Band 14   curve       [eV]
band15                                             Band 15   curve       [eV]
band16                                             Band 16   curve       [eV]
...                                                    ...     ...        ...
line18      High Symmetry Point xfit(i) > xspline(nspline)   curve       [eV]
line19      High Symmetry Point xfit(i) > xspline(nspline)   curve       [eV]
line20      High Symmetry Point xfit(i) > xspline(nspline)   curve       [eV]
band65                                             Band 65   curve       [eV]
band66                                             Band 66   curve       [eV]
band67                                             Band 67   curve       [eV]
band68                                             Band 68   curve       [eV]
band69                                             Band 69   curve       [eV]
band70                                             Band 70   curve       [eV]
band71                                             Band 71   curve       [eV]
band72                                             Band 72   curve       [eV]
band73                                             Band 73   curve       [eV]
band74                                             Band 74   curve       [eV]
band75                                             Band 75   curve       [eV]
band76                                             Band 76   curve       [eV]
band77                                             Band 77   curve       [eV]
band78                                             Band 78   curve       [eV]
band79                                             Band 79   curve       [eV]
band80                                             Band 80   curve       [eV]
band81                                             Band 81   curve       [eV]
band82                                             Band 82   curve       [eV]
band83                                             Band 83   curve       [eV]
band84                                             Band 84   curve       [eV]
band85                                             Band 85   curve       [eV]
band86                                             Band 86   curve       [eV]
band87                                             Band 87   curve       [eV]
band88                                             Band 88   curve       [eV]
line21            High Symmetry Point 0.0000 0.0000 0.0000   curve       [eV]
line22            High Symmetry Point 0.0000 0.0000 0.0000   curve       [eV]
line23            High Symmetry Point 1.0000 0.0000 0.0000   curve       [eV]

[136 rows x 3 columns]

In [35]:
search = {
    'tool':'dftmatprop', 
    'filters':json.dumps([
        {'field':'input.x_size','operation':'>=','value':26},
        {'field':'input.y_size','operation':'>=','value':26},
        {'field':'input.z_size','operation':'>=','value':26},
        {'field':'input.x_size','operation':'<=','value':28},
        {'field':'input.y_size','operation':'<=','value':28},
        {'field':'input.z_size','operation':'<=','value':28},
        {'field':'input.ke_cutoff','operation':'>=','value':65},
        {'field':'input.ke_cutoff','operation':'<=','value':85},
        {'field':'input.eos_enable','operation':'=','value':True},
    ]),
    'results':json.dumps([
        'input.x_size',
        'input.y_size',
        'input.z_size',
        'input.ke_cutoff',
        'input.eos_enable',
    ]),    
    'limit':15,    
    'revision':0,
}
req_json = a.requestPost('results/dbexplorer/search', data=search)
req_json = req_json.json()
pd.DataFrame(req_json['results'])

,input.eos_enable,input.ke_cutoff,input.x_size,input.y_size,input.z_size,squid
0,None,70,26,26,26,dftmatprop/62/f57fe6e6485c6a4be09ead7d2dd733ce...
1,None,70,27,27,27,dftmatprop/62/50297d8eb776134fdfb753b8a83e3a1a...
2,None,70,28,28,28,dftmatprop/62/e9e4b92b2d89912788ce4751f92272c8...
3,None,75,26,26,26,dftmatprop/62/739ed4ecb366e7a245a168f0a49e8dec...
4,None,65,26,26,26,dftmatprop/62/72a747d6e8b4d61ab0026611fc29ae22...
5,None,70,26,26,26,dftmatprop/62/f0a56c5d419ad0687d6aa04fe18685db...
6,None,75,26,26,26,dftmatprop/62/557631d980ebb630f5a5470941de9a72...
7,None,75,27,27,27,dftmatprop/62/17d7278dafb821bd5efdf9cfe8158ebe...
8,None,80,27,27,27,dftmatprop/62/2f134a39f2ba96ab30530938692479d3...
9,None,85,27,27,27,dftmatprop/62/fe19fe1b337318a1cb69399b0ef13010...

In [34]:
req_json = a.requestPost('results/dbexplorer/stats', data=search)
req_json = req_json.json()
pd.DataFrame(req_json['results']).transpose()

                               0
AVG_input.eos_enable
AVG_input.ke_cutoff         73.5
AVG_input.x_size            26.6
AVG_input.y_size            26.6
AVG_input.z_size            26.6
COUNT_input.eos_enable        10
COUNT_input.ke_cutoff         10
COUNT_input.x_size            10
COUNT_input.y_size            10
COUNT_input.z_size            10
MAX_input.eos_enable
MAX_input.ke_cutoff           85
MAX_input.x_size              28
MAX_input.y_size              28
MAX_input.z_size              28
MIN_input.eos_enable
MIN_input.ke_cutoff           65
MIN_input.x_size              26
MIN_input.y_size              26
MIN_input.z_size              26
STD_input.eos_enable
STD_input.ke_cutoff      5.79751
STD_input.x_size        0.699206
STD_input.y_size        0.699206
STD_input.z_size        0.699206